<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />

  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/kaynakArama.css" />
  <title>Herkes İçin Kütüphane</title>
</head>

<body>
  <%- include('partials/_navigation') -%>
    <!-- MAIN -->
    
    <!-- Filtre içeriklerinin sıralanmış şekilde tutulmalarını sağlıyoruz -->
    <% let yazarlar= []; let basimYillari= []; let ciltNolar= [];
     let baskiNolar= []; let diller=[]; 
     kaynaklar.forEach(function(kaynak){ yazarlar.push(kaynak.yazar);
       basimYillari.push(kaynak.basimYili); ciltNolar.push(kaynak.ciltNo);
        baskiNolar.push(kaynak.baskiNo); diller.push(kaynak.dil); });
         yazarlar = [...new Set(yazarlar)].sort(); 
          basimYillari = [...new Set(basimYillari)].sort(function(a, b){return a-b});
           ciltNolar = [...new Set(ciltNolar)].sort(function(a, b){return a-b});
            baskiNolar = [...new Set(baskiNolar)].sort(function(a, b){return a-b}); 
            diller = [...new Set(diller)].sort(); 
            %>
    
    <div class="main">
      <!-- Sidebar -->
      <div class="row">
        <div class="col-auto">
          <div class="flex-shrink-0 p-3 bg-white sticky-top" style="width: 280px">
            <div class="renkler"></div>
            <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
              </svg>
              <span class="fs-5 fw-semibold renkler">Filtreleme</span>
            </div>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#kaynakTuru" aria-expanded="true" type="button">
                  Kaynak Türü
                </button>
                <div class="collapse show" id="kaynakTuru">
                <form method="get" action="/kaynakArama/" >
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" class="checkbox"  value="Ders Kitabı" name="kaynakturu" id="Ders" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Ders Kitabı
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" class="checkbox" value="Okuma Kitabı" name="kaynakturu" id="Okuma" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Okuma Kitabı
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" class="checkbox"  value="Sesli Kitap" name="kaynakturu" id="sesli" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Sesli Kitap
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" class="checkbox"  value="Diğer İçerikler" name="kaynakturu" id="Diger" />
                    <label class="form-check-label" for="flexCheckDefault">
                      Diğer İçerikler
                    </label> <!-- flexCheckDefault-->
                  </div>
                <!-- </form> -->
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#kaynakYazari" aria-expanded="false" type="button">
                  Kaynağın Yazarı
                </button>
                <div class="collapse" id="kaynakYazari">
                  <% yazarlar.forEach(function(item,index){  %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="yazar" />
                    <label class="form-check-label" for="flexCheckDefault">
                      <%= item %>
                      <!-- database en alınacak -->
                    </label>
                  </div>
                 <% }); %>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#kaynakYili" aria-expanded="false" type="button">
                  Yılı
                </button>
                <div class="collapse" id="kaynakYili">
                  <% basimYillari.forEach(function(item,index){  %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="basimYili"/>
                      <label class="form-check-label" for="flexCheckDefault">
                        <%= item %>
                        <!-- database en alınacak -->
                      </label>
                    </div>
                   <% }); %>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#ciltNo" aria-expanded="false" type="button">
                  Cilt No
                </button>
                <div class="collapse" id="ciltNo">
                  <% ciltNolar.forEach(function(item,index){  %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="ciltNo" />
                      <label class="form-check-label" for="flexCheckDefault">
                        <%= item %>
                        <!-- database en alınacak -->
                      </label>
                    </div>
                   <% }); %>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#baskiNo" aria-expanded="false" type="button">
                  Baskı No
                </button>
                <div class="collapse" id="baskiNo">
                  <% baskiNolar.forEach(function(item,index){  %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="baskiNo" />
                      <label class="form-check-label" for="flexCheckDefault">
                        <%= item %>
                        <!-- database en alınacak -->
                      </label>
                    </div>
                   <% }); %>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed renkler" data-bs-toggle="collapse"
                  data-bs-target="#dil" aria-expanded="false" type="button">
                  Diller
                </button>
                <div class="collapse" id="dil">
                  <% diller.forEach(function(item,index){  %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="<%= item %>" id="flexCheckDefault" name="dil"/>
                      <label class="form-check-label" for="flexCheckDefault">
                        <%= item %>
                        <!-- database en alınacak -->
                      </label>
                    </div>
                   <% }); %>
                </div>
              </li>
              <% if(baslik!=null){ %>
              <input type="hidden" name="baslik" value="<%= baslik %>" class="form-control">
              <%}%>
              <button type="submit" class="btn btn-secondary mb-3 " style="margin-right: auto">
                FİLTRELE                
              </button>
            </form>
            </ul>
          </div>          
        </div>
        
          <% if(kaynaklar.length==0){%>
            <div class="col-auto">
            <h4 style="color: white; margin-right: auto;"><%=baslik%> isimli bir kaynak bulunamadı :(</h4>
            </div>
            <%} else{%>
        


        <div class="col-9">
          <div class="" enctype="multipart/form-data">
            <% kaynaklar.forEach(function(kaynak){ %>
              <!--Kartın başı  -->
              <div class="card mb-3 " style="max-height: 320px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%=kaynak.img%>" class="img-thumbnail rounded-start" alt="..."
                      style="max-height: 300px" width="300px" height="300px" />
                    <!--img-fluid src="<%= kaynak.img %>"-->
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= kaynak.baslik %>
                      </h5>
                      <% if(kaynak.kaynakturu =="Diğer İçerikler"){%>
                      <p class="card-text">
                        Yayınlayan: <%= kaynak.yazar %>
                      </p>
                      <%}else{%>
                        <p class="card-text">
                          Yazar: <%= kaynak.yazar %>
                        </p>
                        <%}%>
                      <p class="card-text">
                        Tür: <%= kaynak.kaynakturu %>
                      </p>
                      <p class="card-text">
                        Dil: <%= kaynak.dil %>
                      </p>
                      <p class="card-text">
                        Yayımlanma Yılı: <%= kaynak.basimYili %>
                      </p>
                      <% if(kaynak.kaynakturu!="Diğer İçerikler"){%>
                      <p class="card-text">
                        Cilt No: <%= kaynak.ciltNo %>
                      </p>
                      <p class="card-text">
                        Baskı No: <%= kaynak.baskiNo %>
                      </p>
                      <%}%>
                      <p class="card-text">
                        <small class="text-muted">Yüklenme Tarihi: <%=kaynak.olusturulmaTarihi%></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <%});%>
                <!-- Kartın sonu -->
          </div>
          <!-- <div class="kartlar">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="..."
                    class="img-fluid rounded-start"
                    alt="..."
                    style="max-height: 200px"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Kaynak başlığı</h5>
                    <p class="card-text">Yazar</p>
                    <p class="card-text">Türü</p>
                    <p class="card-text">Dil</p>
                    <p class="card-text">Tarih</p>
                    <p class="card-text">Cilt no</p>
                    <p class="card-text">Baskı no</p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kartlar">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="..."
                    class="img-fluid rounded-start"
                    alt="..."
                    style="max-height: 200px;"
                  />
                </div> 
                  
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Kaynak başlığı</h5>
                    <p class="card-text">Yazar</p>
                    <p class="card-text">Türü</p>
                    <p class="card-text">Dil</p>
                    <p class="card-text">Tarih</p>
                    <p class="card-text">Cilt no</p>
                    <p class="card-text">Baskı no</p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="kartlar">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="..."
                    class="img-fluid rounded-start"
                    alt="..."
                    style="max-height: 200px"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Kaynak başlığı</h5>
                    <p class="card-text">Yazar</p>
                    <p class="card-text">Türü</p>
                    <p class="card-text">Dil</p>
                    <p class="card-text">Tarih</p>
                    <p class="card-text">Cilt no</p>
                    <p class="card-text">Baskı no</p>
                    <p class="card-text">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <%}%>
        
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
    <!-- Scriptler -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/JS/login.js"></script>
    <script src="/JS/filter.js"></script>
</body>

</html>